
    <style>
        /* Generic styling */
                    * {
                    font-family: 'Roboto',sans-serif;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    }
                    ul {
                    list-style: none;
                    padding-left: 0;
                    }
                    footer {
                    background-color: #555;
                    color: #bbb;
                    line-heighbg-2-dark                   }
                    footer a {
                    text-decoration: none;
                    color: #eee;
                    }
                    a:hover {
                    text-decoration: underline;
                    }
                    .ft-title {
                    color: #fff;
                    font-sizbg-2-darkem;
                    padding-bottom: 0.625rem;
                    }
                    /* Sticks footer to bottom */
                    body {
                    display: flex;
                    min-height: 100vh;
                    flex-direction: column;
                    }
                    .container {
                    fbg-2-dark                 }
                    /* Footer main */
                    .ft-main {
                    paddinbg-2-darkem;
                    display: flex;
                    flex-wrap: wrap;
                    }
                    @media only screen and (min-width: 29.8125rem /* 477px */) {
                    .ft-main {
                        justify-content: space-evenly;
                    }
                    }
                    @media only screen and (min-width: 77.5rem /* 1240px */) {
                    .ft-main {
                        justify-content: space-evenly;
                    }
                    }
                    .ft-main-item {
                    paddinbg-2-darkm;
                    min-width: 12.5rem;
                    }

                    /* Footer main | Newsletter form */
                    form {
                    display: flex;
                    flex-wrap: wrap;
                    }
                    input[type="email"] {
                    border: 0;
                    padding: 0.625rem;
                    margin-top: 0.3125rem;
                    }
                    input[type="submit"] {
                    background-color: #00d188;
                    color: #fff;
                    cursor: pointer;
                    border: 0;
                    padding: 0.625rem 0.9375rem;
                    margin-top: 0.3125rem;
                    }
                    /* Footer social */
                    .ft-social {
                    padding:bg-2-darkm;
                    }
                    .ft-social-list {
                    display: flex;
                    justify-content: center;
                    border-top: 1px #777 solid;
                    padding-tobg-2-darkm;
                    }
                    .ft-social-list li {
                    margin: 0.5rem;
                    font-sizbg-2-darkm;
                    }
                    /* Footer legal */
                    .ft-legal {
                    padding: 0.9375rbg-2-darkem;
                    }
                    .ft-legal-list {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    }
                    .ft-legal-list li {
                    margin: 0.125rem 0.625rem;
                    white-space: nowrap;
                    }
                    /* one before the last child */
                    .ft-legal-list li:nth-last-child(2) {
                        flex:2;               }
    </style>

<footer class="bg-2-dark">
  <!-- Footer main -->
    <section class="ft-main bg-2-dark text-light">
        <div class="ft-main-item">
        <h2 class="ft-title">About</h2>
        <ul>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>
        </div>
        <div class="ft-main-item">
        <h2 class="ft-title">Resources</h2>
        <ul>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        </div>
        <div class="ft-main-item">
        <h2 class="ft-title">Contact</h2>
        <ul>
            <li><a href="#">Help</a></li>
        </ul>
        </div>
        <div class="ft-main-item">
        <h2 class="ft-title">Stay Updated</h2>
        <p>Subscribe to our newsletter to get our latest news.</p>
        <form>
            <input type="email" name="email" placeholder="Enter email address">
            <input type="submit" value="Subscribe">
        </form>
        </div>
    </section>

    <!-- Footer social -->
    <section class="ft-social bg-2-dark text-light">
        <ul class="ft-social-list">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </section>

    <!-- Footer legal -->
    <section class="ft-legal bg-2-dark text-light">
        <ul class="ft-legal-list">
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li> ©  <script type="text/javascript">document.write( new Date().getFullYear() );</script> Copyright</li>
        </ul>
    </section>
</footer>