{% extends 'partials/_sideNav2.html.twig' %}

{% block main %}
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="d-none d-md-inline col-md-7 p-2">
            <img src="{{asset('images/forgot-password.png')}}" class="w-100 h-100" alt="password">
        </div>
        <div class="col-sm-10 col-md-5 p-2">
            <div class="card rounded shadow">
                <div class="card-body my-title my-small-title">
                    <h5>un email a été envoyer, contenant un lien permettant de réinitialiser le mot de passe.
                        Ce lien expire dans 
                        <span class="text-mui title">{{ tokenLifetime|date('g') }} heures</span>.
                    </h5>
                    <small>si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou réessayer.</small>
                    <hr>
                    <div class="text-center">
                        <a href="{{ path('app_forgot_password_request') }}" class="btn bg-1-lightpink"><i class="fas fa-undo"></i> Réessayer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
