:root{
  --color-bg:#ffffff;
  --txt-color:#31353D;
  --hover-bg:rgb(243, 241, 241);
  --txtlogo:url('/images/textlogo.png');
  --sh-color:#76d1df;
  /*--sh-color:#2196f3;*/
}

[data-theme="dark"] {
  --color-bg: #31353D;
  --txt-color:#ffffff;
  --hover-bg:rgb(98, 98, 98);
  --txtlogo:url('/images/d-textlogo.png');
  --sh-color:lightpink;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
@keyframes swing {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(30deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    80% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }


.navbar {
    background: var(--color-bg);
    color:var(--txt-color);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
    opacity: 1.0;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background:var(--color-bg);
    color: var(--txt-color);
    transition: all 0.3s ease;
    height: 100vh;
    overflow-x: hidden;
    border: none;
    z-index: 1;
}

#textlogo{
    content: var(--txtlogo);
    height: 40px;
    width: 150px;
}

#sidebar.active {
    min-width: 100px;
    max-width: 100px;
    text-align:center;
    overflow: auto;
}
#sidebar.active .sidebar-header .user-info {
  margin-top: 5px;  
  font-size: 12px;
  color:#31353D;
}

#sidebar.active .sidebar-header {
    height: 170px;
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.65em;
    font-weight: bold;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

i.nav-icon {
  font-size: 1.7em
}

#sidebar.active ul ul a {
    padding: 5px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header .user-status i{
    font-size: 10px;
}

#sidebar .sidebar-header .user-info {
    margin-left:10px;
    color: var(--txt-color);
}

#sidebar.active .sidebar-header .user-info {
    color: var(--txt-color);
    margin-left: 0;
}
  
.sidebar-header .user-info > spann {
    display: block;
}
  
.sidebar-header .user-info .user-role {
    font-size: 12px;
  }
  
.sidebar-header .user-info .user-status {
    font-size: 11px;
    margin-top: 4px;
  }
  
.sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
  }
  
#sidebar .sidebar-header {
    
    justify-content: flex-start;
    border-bottom:3px solid var(--sh-color);
    display: flex;
    margin: auto;
    padding: 10px;
    height: 100px;
}

#logo{
    padding-left: 25px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
}


#sidebar ul li a:hover {
    background: var(--hover-bg) ;
}

#sidebar ul li a i {
    margin-right: 10px;
}
#sidebar ul li a:hover i {
    color: var(--sh-color);
    animation: swing ease-in-out 0.5s 1 alternate;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}


ul ul a:before {
  content: "\f890";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 8px;
}

ul ul a:hover::before {
  color: var(--sh-color);
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    transition: all 0.3s ease;
    height: 100vh;
    overflow: hidden;
    background-image:url("/images/w-h.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#page-content {
    height:100%;
    width: 100%;
    display: inline-block;
    margin: auto;
    padding: 30px;
    overflow: auto;
}


::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  #mapid{
    max-height:600px;
    border-color: #b8bfce;
  }

.bg-1-pink{
      background-color: #e75874;
  }
.bg-1-red{
    background-color: #be1558;
  }
.bg-1-lightpink {
    background:#fbcbc9;
  }
.bg-1-dark{
    background-color: #322514;
  }
  
.bg-2-light{
    background-color: #aed6dc;
  }
.bg-2-break{
    background-color: #ff9a8d;
  }
.bg-2-dark{
    background-color: #4a536b;
  }
  
.bg-material-ui{
    background-color: #2196f3;
  }
  
.card-h-bg{
    background-color:#e52165;
  }
.card-b-bg{
    background-color: #31353D;
  }
  
.avatar {
      max-width: 128px;
      max-height: 128px;
      border-radius: 50%;
  }
  
.avatar-meduim{
    max-width: 64px;
    max-height: 64px;
    border: solid 2px var(--sh-color);
    background: var(--sh-color);
  }
  
.avatar-small{
    max-width: 32px;
    max-height: 32px;
  }
  
.card  {
    border-top-right-radius: 20px;
    border-bottom-left-radius:20px;
    color:inherit;
    background: inherit;
    width: 100%;
    height: 100%;
  }
  .card .card-header{
     border-top-right-radius: 20px;
  }
  .card .card-footer{
    border-bottom-left-radius: 20px;
  }
  label.required:before {
      content: "* ";
      color: red; 
  }

  a {
    color:inherit;
    text-decoration: none;
  } 

a:link {
    color: inherit; 
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;  
    text-decoration: none;
  }
  
  a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  a:active i{
    color:inherit;  
    text-decoration: none;
  }

/*     calendar related css    */
  .ui-tooltip, .arrow:after {
    z-index: 999;
    background-color:var(--color-bg);
    border: 1px solid var(--sh-color);
  }
  .ui-tooltip {
    max-width:300px;
    max-height:300px;
    background:var(--color-bg);
    border-top-right-radius:20px; 
    border-bottom-left-radius:20px; 
    color: var(--txt-color);
    font: bold 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0px 0px 3px grey;
    border: 2px solid var(--sh-color);
    z-index:999;
  }

  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
    
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px grey;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

.image-profile{
  width: 200px;
  height: 100px;
}

  #external-events {
    background: whitesmoke;
    align-self: center;
    justify-self: center;
  }
  
  #external-events .fc-event {
    cursor: grab;
    margin: 5px;
    padding: 10px;
    width:100%;
  }
  
  #calendar-container {
    z-index: 1;
    min-height: 500px;
    max-height: 100%;
    background: white;
  }
  
  #calendar {
    padding: 10px;
    min-width: 100%;
    min-height:100%;
  }

  a .notification {
    position: absolute;
    top: 3px;
    font-size: 0.6em;
  }

.nav-link:hover i::before{
  color: var(--sh-color);
}    

.nav.navbar-nav .active .nav-link{
    color:var(--sh-color);
}

.shadow {
  -moz-box-shadow:    5px 3px 5px 6px var(--txt-color);
  -webkit-box-shadow: 5px 3px 5px 6px var(--txt-color);
  box-shadow:         5px 3px 5px 6px var(--txt-color);
}

.components li ul li a:active::before{
  color: var(--sh-color);
}

.charts{
  height: 400px;
   width: 100%;
}

#formContainer{
  width: 100%;
  height: 100%;
}

hr {
  background: var(--txt-color);
}

#login-card{
  background-color: var(--txt-color);
  color: var(--color-bg);
}

#login-avatar{
  align-self: center;
  max-width:150px;
  max-height:80px;
}

.card  {
  border-top-right-radius: 20px;
  border-bottom-left-radius:20px;
}
.card .card-header{
   border-top-right-radius: 20px;
}
.form-group > label:before {
  content: "* ";
  color:tomato;
}


.spinner{
  justify-self: center;
  align-self:center ;
}

.fa-custom-size {
  max-width: 20px;
  max-height: 17px;
}

#sidebar-logo{
  position: relative;
  margin-top: 0;
  width: 100%;
  max-height: 100%;
}

.card-counter{
  box-shadow: 2px 2px 10px #DADADADA;
  margin: 5px;
  padding: 15px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: 0.5s linear all;
  color: #FFF;
  }

  .card-counter:hover i{
    transition: 0.5s linear all; 
  }

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .fa-ticket-alt{
  transform:rotate(20deg);
  }
  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.6;
    display: block;
    font-size: 18px;
  }