{% extends 'partials/_sideNav2.html.twig' %}

{% block main %}
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card bg-light shadow-lg">
            <div class="card-header w-100 bg-material-ui">
                    <h4 class="card-title text-center my-title">
                        <img src="{{asset('images/login.svg')}}" class="avatar-small">
                        Mandataire DHCSYS
                    </h4>
                </div>
            <div class="card-body">
                <div class="row align-content-center justify-content-center">
                        <img src="/images/login1.svg" class="shadow align-self-center"
                             alt="#" id="login-avatar">
                    </div>
                    <br>
                    <form action="{{ path('admin_login') }}" method="post">
                            <div class="form-group required">
                                <i class="far fa-user-circle"></i>
                                <label for="_username">Email</label>
                                <div class="input-with-icon d-flex align-items-center">
                                    <input type="email" class="w-100 form-control" name="_username" required>
                                    <i class="far fa-paper-plane disabled"></i>
                                </div>
                            </div>
                            <div class="form-group required">
                                <i class="fab fa-keycdn"></i>
                                <label for="_password">Mot de passe</label>
                                <div class="input-with-icon d-flex align-items-center">
                                    <input type="password" class="w-100 form-control" id="password" name="_password" required>
                                    <i class="far fa-eye" id="password_eye"></i>
                                </div>
                            </div>
                            <div class="container-fluid text-center">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" name="_remember_me" id="RememberMe">
                                    <label class="custom-control-label" for="RememberMe">Restez connecter?</label>
                                </div>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button type="submit" class="btn bg-material-ui">
                                    <i class="fas fa-sign-in-alt mr-2"></i>
                                    Connexion
                                </button>
                                <a href="{{ path('welcome_page') }}" class="btn">
                                    <i class="fas fa-arrow-circle-left"></i>
                                    Page d'acceuil
                                </a>
                            </div>
                    </form>
                    <hr class="bg-dark">
                    <div class="col-12 text-center">
                        <p class="text-dark">Cliquez sur ce lien pour réinitialiser votre mot de passe.</p>
                        <a href="{{ path('app_forgot_password_request') }}" class="btn-link text-primary">
                            <i class="fas fa-user-lock"></i>
                            <b>Réinitialiser</b>
                        </a>
                    </div>
            </div>
        </div>
    </div>                    
</div>
{% endblock %}
{% block javascript %}
{% endblock %}
