{% extends 'admin/admin.html.twig' %}

{% block content %}
    <style>
    #login{
        display:flex;
        justify-content:center;
        height:100vh;
    }
    .form-group >label:before {
    content: "*  ";
    color:tomato;}
    </style>


    <div id="login">
    <div class="col-md-4">
        <div class="card bg-light mt-5 shadow">
                <div class="card-header">
                    <h4 class="card-title text-center">
                        <i class="fas fa-lock"></i>
                        Connexion d'administration
                    </h4>    
                </div>
                <div class="card-body">
                        <br>
                        <form action="{{ path('admin_login') }}" method="post">
                            <div class="form-group">
                                <i class="fas fa-envelope"></i>
                                <label for="_username">Email</label>
                                <input type="email" class="form-control" name="_username" placeholder="Email..." required>
                            </div>
                            <div class="form-group">
                                <i class="fas fa-key"></i>
                                <label for="_password">Mot de passe</label>
                                <input type="password" class="form-control" name="_password" required placeholder="Mot de passe...">
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn bg-1-lightpink">
                                <i class="fas fa-sign-in-alt"></i>
                                connexion !</button>
                                <a href="{{ path('welcome_page') }}" class="btn bg-1-lightpink">
                                <i class="fas fa-arrow-circle-left"></i>
                                Page d'acceuil</a>

                            </div>
                        </form>
                </div>
        <br>
        </div>
    </div>
    </div>

{% endblock %}