{% extends 'partials/_sideNav2.html.twig' %}
{% block title %}
    Indicateurs base de données
{% endblock %}
{% block main %}
    <div class="container-fluid mt-2 mt-lg-5">
    <div class="row justify-content-between ">
        <div class="col-12 col-sm-4">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629705882450&to=1629727482450&theme=light&panelId=36" width="100%" height="100" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-sm-4">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=38" width="100%" height="100" class="border-none shadow"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=22" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=24" width="100%" class="border-none shadow"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=60" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=8" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=5" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=6" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=4" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=7" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=62" width="100%" class="border-none shadow"></iframe>
        </div>
        <div class="col-12 col-md-6 mb-5">
            <iframe src="http://localhost:3000/d-solo/qFyYjoWnz/postgresql-database?orgId=1&refresh=5m&from=1629706119452&to=1629727719452&theme=light&panelId=64" width="100%" class="border-none shadow"></iframe>
        </div>
    </div>
    </div>
{% endblock %}