{% extends 'partials/_sideNav2.html.twig' %}
{% block body %}
<body class="d-flex align-content-center justify-content-center">
<section class="page_403">
    <div class="text-center">
        <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
        </div>

        <div class="contant_box_403">
            <h1 class=text-danger> <span style="font-weight: bolder">O</span>ops </h1>
            <h3 class="h2">
                On dirait que vous êtes perdu
            </h3>
            <p>la page que vous recherchez n'est pas disponible!</p>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_home') }}" class="link_403">Accueil</a>
            {% elseif is_granted('ROLE_DOCTOR') %}
                <a href="{{ path('dash_home') }}" class="link_403">Accueil</a>
            {% elseif is_granted('ROLE_USER') %}
                <a href="{{ path('dash_home') }}" class="link_403">Accueil</a>
            {% else %}
                <a href="{{ path('welcome_page') }}" class="link_403">Accueil</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
