{% extends "partials/_sideNav2.html.twig" %}
{% block body %}
      <div clss="contianer" id='error'>
          <div class="text-center mt-5">
                <h1 class=text-danger> <span style="font-weight: bolder">O</span>ops </h1> <h5>vérifiez vos identifiants de connexion</h5>
                  <a href="{{ path('welcome_page') }}" class='btn text-danger'>
                  <i class="fas fa-arrow-alt-circle-left"></i><span> Page de connexion</span></a>
          </div>
      </div>
{% endblock%}