{% extends 'partials/_sideNav2.html.twig' %}

{% block main %}
<div class="container-fluid d-flex hv-100">
    <div class="row align-content-center align-content-sm-center justify-content-center justify-content-sm-center">
            <div class="col-12 col-sm-6 col-md-6 mt-2 mt-md-auto mt-sm-auto">
                <a href="{{ path('User_login') }}">
                    <div class="card text-center justify-content-center" id="login-card">
                        <div class="row justify-content-center">
                            <img src="/images/d-a-login.jpg" class="mt-4 mr-1 rounded img-thumbnail shadow-lg" alt="#" id="login-avatar">
                            <img src="/images/p-a-login.png" class="mt-4 rounded img-thumbnail shadow-lg" alt="#" id="login-avatar">        
                        </div>    
                        <div class="card-body">
                            <h5 class="card-title">Docteur ou Patient</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                AvcDoctor, une plateforme de santé informatique pour le suivi des patients victimes d'un accident vasculaire cérébral.
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-12 col-md-6 col-sm-6 mt-2 mt-md-auto mt-sm-auto">
                <a href="{{ path('admin_login') }}">
                <div class="card text-center justify-content-center" id="login-card">
                    <img src="/images/login1.svg" class="mt-4 rounded img-thumbnail shadow-lg" alt="#" id="login-avatar">
                    <div class="card-body">
                        <h5 class="card-title">Mandataire DHCSYS</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">

                            AvcDoctor, une plateforme de santé informatique pour le suivi des patients victimes d'un accident vasculaire cérébral.
                        </p>
                    </div>
                </div>
                </a>
            </div>
    </div>
</div>
{% endblock %}