{% extends "partials/_sideNav2.html.twig" %}


{% block main %}
<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter bg-1-pink">
        <i class="fas fa-code-branch"></i>
        <span class="count-numbers">12</span>
        <span class="count-name">Flowz</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter bg-1-red">
        <i class="fas fa-ticket-alt"></i>
        <span class="count-numbers">599</span>
        <span class="count-name">Instances</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter bg-2-dark">
        <i class="fas fa-database"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Data</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter bg-2-break">
        <i class="fas fa-users"></i>
        <span class="count-numbers">35</span>
        <span class="count-name">Users</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
 {% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
    <script>$(".count-numbers").counterUp({delay:5,time:1000});</script>
 {% endblock %}