{% extends 'partials/_sideNav2.html.twig' %}

{% block title %}Connexion docteur{% endblock %}

{% block main %}  
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card bg-light shadow-lg">
            <div class="card-header bg-1-lightpink">
                <h4 class="text-center card-title my-title">
                    <img class="avatar-small" src="{{asset('images/login.svg')}}" alt="">
                        Accedez Votre Espace  
                </h4>    
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <img src="/images/d-a-login.jpg" class=" mr-1 rounded img-thumbnail shadow-lg" alt="#" id="login-avatar">
                    <img src="/images/p-a-login.png" class="rounded img-thumbnail shadow-lg" alt="#" id="login-avatar">
                </div>
                <br>
                <form action="{{ path('User_login') }}" method="post">
                    <div class="form-group required">
                        <i class="far fa-user-circle"></i>
                        <label for="_username">Email</label>
                        <div class="input-with-icon d-flex align-items-center">
                            <input type="email" name="_username" class="w-100 form-control" required>
                            <i class="far fa-paper-plane disabled"></i>
                        </div>
                    </div>
                    <div class="form-group required">
                        <i class="fab fa-keycdn mr-2"></i>
                        <label for="_password">Mot de passe</label>
                        <div class="input-with-icon d-flex align-items-center">
                            <input type="password" id="password" class="w-100 form-control" name="_password" required>
                            <i class="far fa-eye" id="password_eye"></i>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" name="_remember_me" id="RememberMe">
                            <label class="custom-control-label" for="RememberMe">Restez connecter ?</label>
                        </div>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <button type="submit" class="btn bg-1-lightpink">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            Connexion
                        </button>
                            <a href="{{ path('welcome_page') }}" class="btn bg-2-lightpink">
                            <i class="fas fa-arrow-circle-left"></i>
                            Page d'acceuil </a>
                    </div>
                </form>
                <hr class="bg-dark">
                <div class="col-12 text-center">
                    <p class="text-dark">Cliquez sur ce lien pour réinitialiser votre mot de passe.</p>
                    <a href="{{ path('app_forgot_password_request') }}" class="btn-link text-primary">
                        <i class="fas fa-user-lock"></i>
                        <b>Réinitialiser</b>
                    </a>
                </div>
            </div>
        </div>
    </div>                    
</div>    
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){

    });
    </script>
{% endblock %}
