{% extends 'partials/_sideNav2.html.twig' %}

{% block title %}Connexion docteur{% endblock %}

{% block main %}  
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card bg-light shadow-lg">
            <div class="card-header bg-1-lightpink">
                <h4 class="text-center card-title my-title">
                    <img class="avatar-small" src="{{asset('images/login.svg')}}" alt="">
                        Accedez Votre Espace  
                </h4>    
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <img src="/images/d-a-login.jpg" class=" mr-1 rounded img-thumbnail shadow-lg" alt="#" id="login-avatar">
                    <img src="/images/p-a-login.png" class="rounded img-thumbnail shadow-lg" alt="#" id="login-avatar">
                </div>
                <br>
                <form action="{{ path('User_login') }}" method="post">
                    <div class="form-group row">
                        <i class="far fa-user-circle mr-2"></i>
                            <label for="_username">Email</label>
                            <input type="email" class="form-control" name="_username" required>
                    </div>
                    <div class="form-group row">
                        <i class="fab fa-keycdn mr-2"></i>
                        <label for="_password">Mot de passe</label>
                        <input type="password" class="form-control" name="_password" required>
                    </div>
                    <br>
                    <hr >
                    <div class="form-group text-center">
                        <button type="submit" class="btn bg-1-lightpink">
                            <i class="fas fa-sign-in-alt mr-2"></i>
                            Connexion
                        </button>
                            <a href="{{ path('welcome_page') }}" class="btn bg-2-lightpink">
                            <i class="fas fa-arrow-circle-left"></i>
                            Page d'acceuil </a>
                    </div>
                </form>
            </div>
        </div>
    </div>                    
</div>    
{% endblock %}

