{% extends "partials/_sideNav2.html.twig" %}


{% block main %}
    <div class="container-fluid m-5 d-flex justify-content-center align-items-center">
        <div class="col-6 card shadow rounded m-1 w-100 h-100 mr-auto">
            <div class="spinner"></div>
        </div>
        <div class="col-6 card bg-transparent shadow rounded m-1 w-100 h-100 ml-auto">
        </div>
    </div>
{% endblock %}