{{ include('randezvous/_form.html.twig') }}
<div class="text-center mt-1">
    <button type="button" class="btn btn-danger align-content-end" id="deleteEvent"><i class="far fa-trash-alt"></i> Supprimer</button>
</div>
