{% extends "partials/_sideNav2.html.twig"%}
{% block title%}Randez-vous{% endblock  %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" integrity="sha512-KXkS7cFeWpYwcoXxyfOumLyRGXMp7BTMTjwrgjMg0+hls4thG2JGzRgQtRfnAuKTn2KWTDZX4UdPg+xTs8k80Q==" crossorigin="anonymous" />  
{% endblock  %}
{% block main %}
        <div id='external-events' class="container">
            <strong class="justify-self-center card-title row">Randez-vous</strong>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-danger'>
                        <div class='fc-event-main'>Urgent</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-warning'>
                        <div class='fc-event-main'>Réaliser des tests</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-success'>
                        <div class='fc-event-main'>Controle régulier</div>
                    </div>
                </div>
            </div>
        </div>
        <div id='calendar-container' class="row mt-3">
            <div id='calendar'></div>
        </div>    


<div class="modal fade" id="newevent" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau Randez-vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="formobj">
                <img src="{{asset('images/spinner.svg')}}" class="spinner">
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="updateevent" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Randez-vous</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" id="formobj">
                <img src="{{asset('images/spinner.svg')}}" class="spinner">
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock  %}
{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.js"></script>
<script>
/*$(document).ready(function() {
  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();


  var calendar = $('#calendar').fullCalendar({
   editable: true,
   header: {
    left: 'prev,next today',
    center: 'title',
    right: 'month,agendaWeek,agendaDay'
   },


   events: "/dashboard/rendez-vous-list",
   selectable: true,
   selectHelper: true,
   select: function(start, end) {
   var title = prompt('Event Title:');

   if (title) {
   var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
   var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
   $.ajax({
	   url: 'add_events.php',
	   data: 'title='+ title+'&start='+ start +'&end='+ end,
	   type: "POST",
	   success: function(json) {
	   alert('Added Successfully');
	   }
   });
   calendar.fullCalendar('renderEvent',
   {
	   title: title,
	   start: start,
	   end: end,
	   allDay: allDay
   },
   true
   );
   }
   calendar.fullCalendar('unselect');
   },


   editable: true,
   eventDrop: function(event, delta) {
   var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
   var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
   $.ajax({
	   url: 'update_events.php',
	   data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,
	   type: "POST",
	   success: function(json) {
	    alert("Updated Successfully");
	   }
   });
   },
   eventClick: function(event) {
	var decision = confirm("Do you really want to do that?"); 
	if (decision) {
	$.ajax({
		type: "POST",
		url: "delete_event.php",
		data: "&id=" + event.id,
		 success: function(json) {
			 $('#calendar').fullCalendar('removeEvents', event.id);
			  alert("Updated Successfully");}
	});
	}
  	},
   eventResize: function(event) {
	   var start = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd HH:mm:ss");
	   var end = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd HH:mm:ss");
	   $.ajax({
	    url: 'update_events.php',
	    data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,
	    type: "POST",
	    success: function(json) {
	     alert("Updated Successfully");
	    }
	   });
	}
   
  });
  
 });*/
document.addEventListener('DOMContentLoaded', function() {
        var Draggable = FullCalendar.Draggable;

        var containerEl = document.getElementById('external-events');

        new Draggable(containerEl, {
            itemSelector: '.fc-event',
            eventData: function(eventEl) {
            return {
                title: eventEl.innerText
            };
            }
        });


        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'timeGridWeek',
          locale:"fr",
          displayEventTime: false,
          timeZone:"Europe/paris",
          headerToolbar:{
            left:'prev,next today',
            center:'title',
            right:'timeGridWeek,timeGridDay,listWeek'
            },

          buttonText: {
            today:"aujourd'hui",
            month:"mois",
            week:"semaine",
            day:"jour",
            list:"liste"
            },
            events:'/dashboard/randez-vous-list',
            editable:true,
            droppable: true,
            drop: function(info){
                    $("#newevent").modal('show'); 
                let rdv=[];
                if($(info.draggedEl).hasClass("bg-success")){
                    rdv[0]="#32CD32";
                }
                else if($(info.draggedEl).hasClass("bg-warning")){
                    rdv[0]="#FF8C00";
                }
                else {
                    rdv[0]="#FF6347";
                }
                rdv[1]=$(info.draggedEl).text();
                rdv[2]=info.date;
                let jrdv=JSON.stringify(rdv);
            //"save after drop"
                $.post('/randezvous/new',jrdv,function() {  
                }).done(function(){
                    $.get('/randezvous/new',function(response){
                    $("#formobj").html(`${response}`);
                    $("#newevent").modal('show'); 
                    });                    
                });
            },
            eventResizableFromStart:true,
            weekends:false,
            nowIndicator:true,
            slotMinTime:'08:00:00',
            slotMaxTime:'18:00:00',
            eventClick: function(info) {
                let id=info.event.id;
                console.log(info);
                $.get(`/randezvous/${id}/edit`,function(response) {
                    $("#formobj").html(`${response}`);
                    $("#updateevent").modal('show');
                });                
            },
            eventMouseEnter:function(MouseEnter){
                if(MouseEnter.event.extendedProps.firstname!== undefined )
                {
                    $(function(){
                    $(MouseEnter.el).tooltip({
                    items: MouseEnter.el,
                    html:true,
                    position: {
                        my: "center bottom",
                        at: "center top-20",
                        collision:"non flip",
                        using: function( position, feedback ) {
                        $( this ).css( position );
                        $( "<div>" )
                            .addClass( "arrow" )
                            .addClass( feedback.vertical )
                            .addClass( feedback.horizontal )
                            .appendTo( this );
                        }
                    },      
                    content:`<div class="text-dark container align-items-center row mt-1 mb-1">
                                <strong style="text-decoration:underline;">Randez-vous Avec:</strong>
                                <div class="col-3 mt-1">
                                    <img class='avatar avatar-meduim' src='${MouseEnter.event.extendedProps.avatar}'/>
                                </div>
                                <div class="col-7">
                                    <em class="row ml-5"><h6>${MouseEnter.event.extendedProps.firstname}</h6></em>
                                    <em class="row ml-5">${MouseEnter.event.extendedProps.lastname}</em>
                                </div>
                            </div>`,
                    hide: { effect: "fade", duration: 500 },
                });
                });
                }
            },
            eventMouseLeave:function(){     
             $('.ui-tooltip').hide();
            },
            dayMaxEventRows: true, // for all non-TimeGrid views
            views: {
                timeGrid: {
                dayMaxEventRows: 6 // adjust to 6 only for timeGridWeek/timeGridDay
                }
            }

        });
        calendar.on('eventChange',(e)=>{
        });        
        calendar.render();
      });

</script>
{% endblock  %}
